
<ng-container >
  <mat-toolbar color='primary'>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Assignment App</span>
    <span class="example-spacer"></span>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon routerLink='/log-in'>logout</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened class="example-sidenav"
                 [fixedInViewport]="options.value.fixed" [fixedTopGap]="options.value.top"
                 [fixedBottomGap]="options.value.bottom">

                 <mat-nav-list>

                  <a routerLink='./home' mat-list-item> <mat-icon> home </mat-icon> Home </a>
                  <a routerLink='./employee' mat-list-item> <mat-icon> People </mat-icon> Employee </a>

                  <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item> Close </a>

                </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content >
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <mat-toolbar class="example-footer">copyright</mat-toolbar>
</ng-container>
